<% @page_title = 'Search' %>

<div id="content">
  <h1><%= params[:q].blank? ? 'Search' : 'Search results' %></h1>

  <%= form_tag({:action => 'index'}, :method => 'get') do %>
    <table border="0" cellspacing="0" cellpadding="1" style="margin: 10px 0">
      <tr valign="middle" align="left">
        <th>Search in tickets:</th>
        <td>&nbsp;</td>
        <td><input name="q" type="text" value="<%= params[:q] -%>" /></td>
      </tr>

      <% if current_user.view_changesets? %>
        <tr valign="middle" align="left">
          <th>Search in Changesets too?</th>
          <td>&nbsp;</td>
          <td><%= check_box_tag 'changesets', 1, params[:changesets], {:class => 'checkbox'} -%></td>
        </tr>
      <% end %>
    </table>
    <input type="submit" value="&nbsp;Go&nbsp;" />
  <% end -%>

  <% if (@found_items.size > 0) -%>
    <% records = 0 -%>
    <% @found_items.each do |items| -%>
      <p />
      <% items.each do |item| -%>
        <div class="search-result">
          <h1>
            <% if ['fixed', 'wontfix', 'invalid'].include?(item[:status]&.downcase) %>
              <s><%= link_to item[:title], item[:link] -%></s>
            <% else %>
              <%= link_to item[:title], item[:link] -%>
            <% end %>
            <% if item.key?(:status) %>
              <small style="font-weight: normal; font-size: 15pt;">[<%= item[:status] %>]</small>
            <% end %>
          </h1>
          <p>
            <%= hilight_search_terms(htmlize(item[:content]), params["q"]) %>
          </p>
        </div>
        <% records += 1 -%>
      <% end -%>
    <% end -%>
    <% if (records == 0) && params[:q].present? -%>
      <p />
      <p class="search-result">
        Sorry, your search returned no results.
      </p>
    <% end -%>
  <% end -%>
</div>
