<% @page_title = 'Administration' %>

<div id="content">
  <h2>Administration</h2>

  <ul>
    <li><%= link_to 'Parts',      controller: 'parts'      %></li>
    <li><%= link_to 'Releases',   controller: 'releases'   %></li>
    <li><%= link_to 'Milestones', controller: 'milestones' %></li>
    <li><%= link_to 'Users',      controller: 'users'      %></li>
  </ul>

  <%= render partial: 'admin/shared/hide_releases_warning' %>

  <p>
    <%= link_to 'Log out', :controller => '/login', :action => 'logout' %>
  </p>
</div>
