<% @page_title = 'Edit release' %>

<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Administration', :controller => 'dashboard' -%></li>
      <li>&#187; <%= link_to 'Releases', :action => 'index' -%></li>
      <li>&#187; Editing release</li>
    </ul>
  </div>

  <%= error_messages_for @release %>

  <%= form_for @release, url: admin_release_path(@release) do |f| %>
    <fieldset>
      <legend>Edit release</legend>

      <label class="first">Name of this release (eg 0.7.5):</label>
      <%= f.text_field :name %>

      <%= f.submit 'Update release' %>
    </fieldset>
  <% end %>
</div>
