<div class="actions">
  <p><%= link_to_function 'Show/hide filtering options...', 'Element.toggle(\'filter-selector\')' -%></p>
</div>
<%= tag.div(id: 'filter-selector', style: tickethelp_filters_active? ? nil : 'display:none') do %>
  <dl>
    <dt>Status:</dt>
      <% @status.each do |status| -%>
        <dd><%= link_to_add_filter(status) %></dd>
      <% end -%>
      <dd>
        <%=
          text = 'All resolved'
          text = tag.strong(text) if params[:status] == '-1'
          link_to(text, 'status': -1)
        %>
      </dd>
  </dl>

  <dl>
    <dt>Severity:</dt>
      <% @severities.each do |severity| -%>
        <dd><%= link_to_add_filter(severity) %></dd>
      <% end -%>
  </dl>

  <dl>
    <dt>Milestone:</dt>
      <% @milestones.each do |milestone| -%>
        <dd><%= link_to_add_filter(milestone) %></dd>
      <% end -%>
  </dl>

  <dl>
    <dt>Part:</dt>
      <% @parts.each do |part| -%>
        <dd><%= link_to_add_filter(part) %></dd>
      <% end -%>
  </dl>
<% end %>
