<% @page_title = 'New ticket' %>

<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Tickets', :action => 'index' -%></li>
      <li>&#187; New Ticket</li>
    </ul>
  </div>

  <%= error_messages_for @ticket %>

  <%= form_with model: @ticket do |f| %>
    <fieldset>
      <legend>Create a new ticket</legend>

      <%= f.label :summary, 'Summary:', class: 'first' %>
      <%= f.text_field :summary %>

      <%= f.label :description, 'Description (<a href="https://textile-lang.com" target="_blank">help and preview tool available here</a>):'.html_safe() %>
      <%= f.text_area :content, rows: 12 %>

      <table>
        <tr>
          <td><%= f.label :severity, 'Severity:' %></td>
          <td><%= f.collection_select :severity_id, @severities, 'id', 'name' %></td>
        </tr>
        <tr>
          <td colspan="2">
            <br />
            If you aren't sure what to assign for the
            part<%= ', release' unless HIDE_RELEASES %>
            or milestone, just leave it blank.
            <br />
            <br />
          </td>
        </tr>
        <tr>
          <td><%= f.label :part_id, 'Part:' %></td>
          <td><%= f.collection_select :part_id, @parts, 'id', 'name', { include_blank: true } %></td>
        </tr>
        <% unless HIDE_RELEASES %>
          <tr>
            <td><%= f.label :release_id, 'Release:' %></td>
            <td><%= f.collection_select :release_id, @releases, 'id', 'name', { include_blank: true } %></td>
          </tr>
        <% end %>
        <tr>
          <td><%= f.label :milestone_id, 'Milestone:' %></td>
          <td><%= f.collection_select :milestone_id, @milestones, 'id', 'name', { include_blank: true } %></td>
        </tr>
      </table>
    </fieldset>

    <%= f.submit 'File new ticket' %>
  <% end %>
</div>
