<% @page_title = 'Ticket #' + @ticket.id.to_s %>

<div id="content">
  <%= render_next_prev_links -%>

  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Tickets', :action => 'index' -%></li>
      <li>&#187; Ticket #<%= @ticket.id -%></li>
    </ul>
  </div>

  <%= error_messages_for @ticket %>
  <%= error_messages_for @change %>

  <div id="ticket">
    <div class="simple_flex_row">
      <h1>Ticket #<%= @ticket.id -%> (<%= @ticket.status.name -%>)</h1>
      <div class="simple_flex_row">
        <span class="date"><%= @ticket.created_at -%></span>
        <%= gravatar_tag(@ticket.author_email) %>
      </div>
    </div>

    <h2><%=h @ticket.summary -%></h2>

    <table id="ticket-details">
      <tr>
        <td class="info">Reported by:</td>
        <td><%= tickethelp_format_author @ticket.author -%></td>
        <td class="info">Severity:</td>
        <td><%= @ticket.severity.name -%></td>
      </tr>
      <tr>
        <td class="info">Part:</td>
        <td><%= @ticket.part.name unless @ticket.part.nil? -%></td>
        <td class="info">Release:</td>
        <td><%= @ticket.release.name unless @ticket.release.nil? -%></td>
      </tr>
      <tr>
        <td class="info">Milestone:</td>
        <td><%= @ticket.milestone.name unless @ticket.milestone.nil? -%></td>
        <td class="info">Status</td>
        <td><%= @ticket.status.name-%></td>
      </tr>
    </table>

    <h3>Details by <%= tickethelp_format_author @ticket.author -%>:</h3>
    <%= htmlize(@ticket.content) %>
  </div>

  <% if @ticket.ticket_changes.size > 0 %>
    <h3>Changelog:</h3>
    <div class="ticket-changes">
  <% end %>

  <% @ticket.ticket_changes.each do |change| -%>
    <div class="ticket-change-entry">
      <div class="ticket-change-citation">
        <%= gravatar_tag(change.author_email) %>
        <h4>Modified by <%= tickethelp_format_author change.author -%> <%= change.created_at.strftime('%a, %B %d %Y - %H:%M:%S %Z') -%></h4>
      </div>

      <ul>
        <% change.each_log do |log_entry| -%>
          <li><%= tickethelp_format_changes log_entry %></li>
        <% end -%>
        <% if change.has_attachment? -%>
          <li><strong>Attachment</strong> added: <%= link_to(change.attachment, :action => "attachment", :id => change.id) %></li>
        <% end -%>
      </ul>

      <% if change.comment.present? -%>
        <div class="ticket-change-comment"><%= htmlize(change.comment) %></div>
      <% end -%>
    </div>
  <% end -%>

  <% if @ticket.ticket_changes.size > 0 %>
    </div>
  <% end %>

  <p />
  <ul>
    <li><%= link_to 'Comment on, or change status of, this ticket', action: 'comment', id: @ticket.id, anchor: 'comment' %></li>
  </ul>

  <%= render_next_prev_links -%>
</div>
