<% @page_title = 'Milestones' %>

<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Administration', :controller => 'dashboard' -%></li>
      <li>&#187; Milestones</li>
    </ul>
  </div>

  <h2>Current Milestones:</h2>
  <ul>
    <% @milestones.each do |milestone| %>
      <li>
        <%= link_to milestone.name, :action => 'edit', :id => milestone.id -%>
        <%= apphelp_inline_delete(milestone, 'milestone') %>
      </li>
    <% end %>
  </ul>

  <%= error_messages_for @milestone %>

  <%= form_tag :action => 'index' do %>
    <fieldset>
      <legend>Create new milestone</legend>

      <label class="first">Name of this milestone (eg 0.7.5):</label>
      <%= text_field 'milestone', 'name' -%>

      <label class="first">A short description or other info you want displayed (optional):</label>
      <%= text_area 'milestone', 'info', rows: 3 -%>

      <input type="submit" value="Create milestone" class="submit">
    </fieldset>
  <% end %>
</div>
