<% @page_title = 'Milestones' %>

<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Administration', :controller => 'dashboard' -%></li>
      <li>&#187; Milestones</li>
    </ul>
  </div>

  <h2>Current milestones:</h2>

  <ul>
    <% @milestones.each do |milestone| %>
      <li>
        <%= link_to milestone.name, :action => 'edit', :id => milestone.id -%>
        <%= apphelp_inline_delete(milestone, 'milestone') %>
      </li>
    <% end %>
  </ul>

  <%= error_messages_for @milestone %>

  <%= form_for :milestone, url: admin_milestones_path() do |f| %>
    <fieldset>
      <legend>Create new milestone</legend>

      <%= f.label :name, 'Name of this milestone (eg 0.7.5):', class: 'first' %>
      <%= f.text_field :name %></label>

      <%= f.label :info, 'A short description or other info you want displayed (optional):' %>
      <%= f.text_area :info, rows: 3 %>

      <%= f.submit 'Create milestone' %>
    </fieldset>
  <% end %>
</div>
