<% @page_title = 'Login' %>

<div id="content">
  <h1>Please login</h1>

  <%= form_for :user, url: url_for(action: 'login') do |f| %>
    <div title="Account login" id="loginform" class="form">
      <fieldset>
        <%= f.label :login, 'Login:' %>
        <%= f.text_field :login, value: @login %>

        <%= f.label :password, 'Password:' %>
        <%= f.password_field :password %>

        <%= f.submit 'Login', class: 'primary' %>
      </fieldset>
    </div>
  <% end %>
</div>
