<% @page_title = 'Edit Part' %>

<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Administration', :controller => 'dashboard' -%></li>
      <li>&#187; <%= link_to 'Parts', :action => 'index' -%></li>
      <li>&#187; Editing part</li>
    </ul>
  </div>


  <%= error_messages_for @part %>

  <%= form_tag :action => 'edit', :id => @part.id do %>
  <fieldset>
    <legend>Edit part</legend>

    <label class="first">Name of this part (eg 'User Interface'):
    <%= text_field 'part', 'name' -%></label>

    <input type="submit" value="Edit Part" class="submit">

  <% end %>
</div>
