<% @page_title = 'Edit Part' %>

<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Administration', :controller => 'dashboard' -%></li>
      <li>&#187; <%= link_to 'Parts', :action => 'index' -%></li>
      <li>&#187; Editing part</li>
    </ul>
  </div>


  <%= error_messages_for @part %>

  <%= form_for @part, url: admin_part_path(@part) do |f| %>
    <fieldset>
      <legend>Edit part</legend>

      <%= f.label :name, 'Name of this part (eg "User interface"):', class: 'first' %>
      <%= f.text_field :name %>

      <%= f.submit 'Update part' %>
    </fieldset>
  <% end %>
</div>
