<% @page_title = 'Parts' %>

<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Administration', :controller => 'dashboard' -%></li>
      <li>&#187; Parts</li>
    </ul>
  </div>

  <h2>Current parts:</h2>
  <ul>
    <% @parts.each do |part| %>
      <li>
        <%= link_to part.name, :action => 'edit', :id => part.id %>
        <%= apphelp_inline_delete(part, 'part') %>
      </li>
    <% end %>
  </ul>

  <%= error_messages_for @part %>

  <%= form_for :part, url: admin_parts_path() do |f| %>
    <fieldset>
      <legend>Create new part</legend>

      <%= f.label :name, 'Name of this part (eg "User interface"):', class: 'first' %>
      <%= f.text_field :name %>

      <%= f.submit 'Create part' %>
    </fieldset>
  <% end %>
</div>
