<% @page_title = 'Parts' %>

<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Administration', :controller => 'dashboard' -%></li>
      <li>&#187; Parts</li>
    </ul>
  </div>

  <h2>Current Parts:</h2>
  <ul>
    <% @parts.each do |part| %>
      <li>
        <%= link_to part.name, :action => 'edit', :id => part.id %>
        <%= apphelp_inline_delete(part, 'part') %>
      </li>
    <% end %>
  </ul>

  <%= error_messages_for @part %>

  <%= form_tag :action => 'index' do %>
    <fieldset>
      <legend>Create new part</legend>

      <label class="first">Name of this part (eg 'User Interface'):</label>
      <%= text_field 'part', 'name' -%>

      <input type="submit" value="Create part" class="submit">
    </fieldset>
  <% end %>
</div>
