<% @page_title = 'Users' %>

<div id="content">
  <div class="breadcrumbs">
    <ul>
      <li><%= link_to 'Administration', :controller => 'dashboard' -%></li>
      <li>&#187; Users</li>
    </ul>
  </div>

  <h2>Current users:</h2>

  <table class="listing" id="user_list">
    <thead>
      <th>User</th>
      <th>View tickets</th>
      <th>Create tickets</th>
      <th>View milestones</th>
      <th>View changesets</th>
      <% if SVN_ENABLED %>
        <th>View code</th>
      <% end %>
      <th>Admin</th>
      <th style="width: 1px">Actions</th>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr class="<%= cycle("odd", "even") -%>">
          <td><%= user.login %></td>
          <td class="boolean"><%= (user.view_tickets?) ? 'Y' : 'N' %></td>
          <td class="boolean"><%= (user.create_tickets?) ? 'Y' : 'N' %></td>
          <td class="boolean"><%= (user.view_milestones?) ? 'Y' : 'N' %></td>
          <td class="boolean"><%= (user.view_changesets?) ? 'Y' : 'N' %></td>
          <% if SVN_ENABLED %>
            <td class="boolean"><%= (user.view_code?) ? 'Y' : 'N' %></td>
          <% end %>
          <td class="boolean"><%= (user.admin?) ? 'Y' : 'N' %></td>
          <td style="white-space: nowrap">
            <%= link_to 'Edit', { :action => 'edit', :id => user.id }, :style => 'display: inline;' -%>
            <%= apphelp_inline_delete(user, 'user') unless user.login == 'Public' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= error_messages_for @user %>

  <%= form_for :user, url: admin_users_path(), class: 'user_form' do |f| %>
    <fieldset>
      <legend>Create new user</legend>

      <%= f.label :name, 'Login:', class: 'first' %>
      <%= f.text_field :login %></label>

      <%= f.label :name, 'Password:' %>
      <%= f.password_field :password %></label>

      <%= f.label :name, 'Password confirmation:' %>
      <%= f.password_field :password_confirmation %></label>

      <%= render partial: 'edit_permissions', locals: { f: f } %>

      <%= submit_tag 'Create user' %>
    </fieldset>
  <% end %>
</div>
