<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="imagetoolbar" content="false" />
    <meta name="robots" content="all" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title>RISC OS Open: Bugs and sources: <%= @page_title %></title>

    <%= stylesheet_link_tag '/css/risc_os_open_2024' %>
    <%= stylesheet_link_tag 'screen' %>
    <% if params[:controller] == 'repository' && params[:action] == 'view_file' %>
    <%= stylesheet_link_tag '/stylesheets/syntaxes/ruby' %>
    <%= stylesheet_link_tag '/stylesheets/syntaxes/xml' %>
    <%= stylesheet_link_tag '/stylesheets/syntaxes/yaml' %>
    <% end %>
    <% if params["controller"] == 'repository' -%>
      <%= auto_discovery_link_tag(:rss, {:controller => '/rss', :action => 'changesets'}) %>
    <% elsif params["controller"] == 'tickets' -%>
      <%= auto_discovery_link_tag(:rss, {:controller => '/rss', :action => 'tickets'}) %>
    <% else -%>
      <%= auto_discovery_link_tag(:rss, {:controller => '/rss', :action => 'all'}) %>
    <% end -%>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render 'shared/fixed_header' %>

    <div id="template_main">

      <!-- Main body content -->

      <div id="template_body">
        <div id="template_body_content">
          <%= apphelp_flash -%>
          <%= yield %>
        </div>
      </div>

      <!-- Sidebar -->

      <div id="template_sidebar">
        <div id="template_sidebar_content">
          <div class="template_sidebar_node">
            <h3>Search tickets</h3>

            <p />
            <div class="template_sidebar_static">
              <%= form_tag({:controller => '/search', :action => 'index'}, :method => 'get') do %>
                <input name="q" type="text" value="<%= params[:q] -%>" size="15" />
                <input type="submit" value="Go" />
              <% end %>
            </div>
          </div>

          <%= render 'shared/fixed_sidebar' %>

          <% if hubssolib_privileged? -%>
            <p />
            <div class="template_sidebar_node">
              <h3>Administration</h3>
              <p />

              <% if current_user.login == 'Public' %>
                <ul><li><%= link_to 'Log in', :controller => '/login', :action => 'login' -%></li></ul>
              <% else %>
                <ul>
                  <li>Logged in as <%= current_user.login %> <%= link_to '(Log out)', :controller => '/login', :action => 'logout' -%></li>
                  <% if current_user.admin? -%>
                      <li><%= link_to 'Admin', admin_root_path -%></li>
                  <% end -%>
                </ul>
              <% end %>
            </div>
          <% end -%>

          <p />
          <div class="template_sidebar_node">
            <h3>Options</h3>

            <p />
            <ul>
              <% if current_user.view_tickets? -%>
                <li><%= link_to 'Tickets', :controller => '/tickets' -%></li>
              <% end -%>
              <% if current_user.create_tickets? -%>
                <li><%= link_to 'New ticket', :controller => '/tickets', :action => 'new' -%></li>
              <% end -%>
              <% if current_user.view_milestones? -%>
                <li><%= link_to 'Milestones', :controller => '/milestones' -%></li>
              <% end -%>
              <% if SVN_ENABLED && current_user.view_changesets? -%>
                <li>Subversion: <%= link_to 'Changesets', :controller => '/repository', :action => 'changesets' -%></li>
              <% end -%>
              <% if SVN_ENABLED && current_user.view_code? -%>
                <li>Subversion: <%= link_to 'Browse', :controller => '/repository', :action => 'browse', :path => nil -%></li>
              <% end -%>
              <% if current_user.view_tickets? -%>
                <li><%= link_to 'Search', :controller => '/search' -%></li>
              <% end -%>
            </ul>
          </div>

          <p />
          <div class="template_sidebar_node">
            <h3>RSS feeds <%= image_tag("rss.gif") %></h3>

            <p />
            <ul>
              <% if params["controller"] == 'repository' -%>
                <li><%= link_to 'Changesets', :controller => '/rss', :action => 'changesets' %></li>
              <% elsif params["controller"] == 'tickets' -%>
                <li><%= link_to 'Tickets', :controller => '/rss', :action => 'tickets' %></li>
              <% end -%>
              <li><%= link_to 'Everything!', :controller => '/rss', :action => 'all' %></li>
              <li><%= link_to 'More feeds...', :controller => '/rss', :action => 'index' -%></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/fixed_footer' %>
  </body>
</html>
